<% content_for :head do %>
  <%= javascript_include_tag "//d2t45z63lq9zlh.cloudfront.net/panda-v0.0.5.min.js" %>
<% end %>

<form id="panda_cc_form">
  <div>
    <label>First Name</label>
    <input type="text" data-panda="first_name", value="Test">
  </div>

  <div>
    <label>Last Name</label>
    <input type="text" data-panda="last_name", value="Name">
  </div>

  <div>
    <label>Credit Card Number</label>
    <input type="text" data-panda="credit_card", value="4111111111111111">
  </div>

  <div>
    <label>Expiration</label>
    <input type="text" data-panda="expiration", value="06/2017">
  </div>

  <div>
    <label>CVV</label>
    <input type="text" data-panda="cvv", value="123">
  </div>

  <div id="tokenize">
    <button type="submit">Tokenize!</button>
  </div>
</form>


